body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Oswald', sans-serif, 'Roboto', sans-serif;
    max-width: 100%;
}



/*header*/
header {
    width: 100%;
    height: 655px;
    overflow: fill;
    object-fit: cover;
    background-image: url(./23989BFC-86AC-4B8D-BBF9-6ACE0BBA9463_1_105_c.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*banner*/
.banner {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0061ae;
    height: 120px;
    text-align: center;
    color: #dcf3f5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
    font-size: 70px;
    word-spacing: 20px;
    margin: 0%;
}

/*main*/

.main_part {
    background-color: #dcf3f5;
    position: relative;
    height: 50em;
}

/*portrait*/

.portrait {
    height: 55%;
    width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    box-shadow: rgb(0 0 0 / 16%) -13px 13px 4px, rgb(29 52 70) 0px 0px 0px 7px;
}

.portrait img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-position: top;
    object-fit: cover;
    overflow: hidden;
    box-shadow: #ffffff54 4px -4px 2px 3px;
}

/*informations*/

.information {
    display: flex;
    text-align: center;
}

.information div {
    width: 25%;
    height: fit-content;
    position: absolute;
}

.information p {
    opacity: 0;
    transition: opacity 1500ms;
    padding: 5px;
    border-radius: 15px;
    color: #0061ae;
}

.information h3 {
    color: #013967;
    border-radius: 30px;
    padding: 6px;
    box-shadow: #013967 0px 0px 0px 2px;
}

.about_me {
    top: 1em;
    left: 2em;
}

.location {
    top: 8em;
    left: 38%;
}

.education {
    top: 5em;
    right: 2em;
}

.work_experience {
    left: 2em;
    top: 25em;
}

.languages {
    right: 2em;
    top: 32em;
}

/*footer*/

footer {
    background-color: #0061ae;
    height: 100px;
    text-align: center;
    color: #dcf3f5;
    padding-top: 4%;
    font-size: 24px;
    word-spacing: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer a {
    color: #dcf3f5;
}

footer img {
    width: 30px;
    height: 20px;
}


/*hover*/


.about_me:hover h3 {
    color: #dcf3f5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #0061ae;
    cursor: pointer;
}

.about_me:hover p {
    background-color: rgba(0, 0, 0, 0.14);
    color: #0061ae;
    opacity: 1;
}

.location:hover h3 {
    color: #dcf3f5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #0061ae;
    cursor: pointer;
}

.location:hover p {
    background-color: rgba(0, 0, 0, 0.14);
    color: #0061ae;
    opacity: 1;
}

.education:hover h3 {
    color: #dcf3f5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #0061ae;
    cursor: pointer;
}

.education:hover p {
    background-color: rgba(0, 0, 0, 0.14);
    color: #0061ae;
    opacity: 1;
}

.work_experience:hover h3 {
    color: #dcf3f5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #0061ae;
    cursor: pointer;
}

.work_experience:hover p {
    background-color: rgba(0, 0, 0, 0.14);
    color: #0061ae;
    opacity: 1;
}

.languages:hover h3 {
    color: #dcf3f5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #0061ae;
    cursor: pointer;
}

.languages:hover p {
    background-color: rgba(0, 0, 0, 0.14);
    color: #0061ae;
    opacity: 1;
}